@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-color: #3c43a4;
    --text-color: #ff5063;
}

/* duc */
.headerKidz{
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.logoKidz a h1 span{
    display: block;
    font-size: .3em;
    text-transform: capitalize;
    letter-spacing: 7px;
    padding-left: 4px;
    text-align: center;
    margin-top: 0.5em;
}



/* binhminh */


/* doanminh */